html {
  font-size: 62.5%;
  margin: 0;
}

/* Define Colors */
:root {
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Inter", serif;
  background-color: var(--grey-900);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

/* Typography */
h1 {
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0.8rem 0;
}

h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--green);
  margin: 0 0 2rem 0;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--white);
  opacity: 0.8;
  margin: 0 0 0.8rem 0;
}

.profile-card {
  text-align: center;
  background-color: hsl(0, 0%, 12%);
  padding: 2rem;
  box-sizing: border-box;
  border-radius: 0.8rem;
  width: 32rem;
}

.profile-card__image {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
  margin-bottom: 1.8rem;
}

.profile-card__name {
  font-size: clamp(2rem, 2.5vh, 2.4rem);
}

.profile-card__location {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--green);
}

.profile-card__bio {
  font-size: clamp(1.4rem, 1.8vh, 1.6rem);
  opacity: 0.8;
}

.social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-button {
  text-decoration: none;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--grey-700);
  margin-top: 1.2rem;
  border-radius: 0.8rem;
  font-weight: 600;
}

.social-button:hover {
  background-color: var(--green);
  color: var(--grey-900);
  transition: background-color color 0.3s ease;
}
